html,
body {
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

div.play-icons {
    display: flex;
    margin-top: 70px;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;

}

#maincontent {
    width: 97%;
    border-spacing: 0px;
    padding-top: 15px;
}

#maincontent td {
    padding: 15px;
    width: 25%;
    text-align: left;
    margin: 5px;
}

tr td button {
    color: blue;
    border: solid 1px black;
    border-radius: 5px;
    background-color: rgb(2, 20, 59);
    padding: 5px;
    box-shadow: 2px;
    color: white
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

aside {
    height: 89%;
    width: 3%;
    background-color: whitesmoke;
    float: left;
    text-align: center;
}

i {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

aside i {
    margin-top: 43px;
    margin-bottom: 5px;
    color: black;
}

aside> :first-child {
    margin-top: 7px !important;
}

aside> :last-child {
    margin-bottom: 0 !important;
}

footer {
    width: 100%;
    height: 11%;
    position: fixed;
    bottom: 0;
    background-color: 383d39;
    color: white;
}

footer p {
    color: white;
}

header {
    background-color: #383d39;
    border: 1px;
    padding: 13px;
}

header table {
    width: 50%;
    border-spacing: 0px;
    color: white;
}

#plus {
    padding-left: 15px;
}

#ellipsis {
    padding-left: 15px;
}

div table {
    width: 90%;
    float: right;
}

td h2 {
    margin: 0px 0px 16px;
}

td h5 {
    margin: 14px 0px 0px;
}

td h4 {
    margin-top: 1px;
}

#footertable {
    width: 100%;
}

#footertable #footertable-td-1 {
    width: 60px;
}

#footertable #footertable-td-2 {
    text-align: left;
    font-size: 14px;

}